/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px - 767px) 
@media only screen and (min-width: 600px) and (max-width: 767px) {
} */

/* Everything under 750px */
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  .about-block {
    padding: 0 30px;
  }

  .profile {
    max-width: 400px;
    text-align: center;
  }

  .profile__portrait {
    margin: 0 auto;
  }

  .profile__portrait,
  .profile-text {
    display: block;
    float: none;
  }

  .bit-button {
    width: 50%;
  }
}

/* 601px - 915px */
@media all and (min-width: 601px) and (max-width: 915px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 992px and under) */
@media only screen and (max-width: 992px) {
  .index-section,
  .about-section,
  .work-section,
  .contact-section {
    background-size: cover;
  }

  .spacer-contact,
  .spacer-index {
    height: 120px;
  }

  .contact-box {
    flex-wrap: wrap-reverse;
  }

  .contact-box__item {
    padding-top: 40px;
  }

  .temp-contact {
    margin-left: 40px;
  }
}
