
:root {
    --primary-color: #f64c72;
    --secondary-color: #FFFC2A;
    --cornflower-blue: #62abd4;
    --carrot: #e67e22;
    --pumpkin: #d35400;
    --darker-pumkin: #7e3200;
    --dark-black: #090707;
    --basic-white: #fff;
    --heading-weight: 600;
}


/* GENERAL STYLINGS */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--dark-black);
}

h1 {
    font-size: 30px;
    font-weight: var(--heading-weight);
}

h2 {
    font-size: 24px;
    font-weight: var(--heading-weight);
}

h3 {
    font-size: 18px;
    font-weight: var(--heading-weight);
}

/* LINKS AND BUTTONS*/

a {
    color: var(--secondary-color);
    
}

a:hover,
a:focus {
    text-decoration: none;
}

a:active {
    color: var(--secondary-color);
}

button,
.button {
    border: none;
    font-family: inherit;
    background-color: var(--basic-white);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
    
}

button:hover, 
button:focus,
.button:hover, 
.button:focus  {
    cursor: pointer;
    opacity: 0.8;
}

/* HEADER */

.page-header {
    display: flex;
    width: 100%;
    padding: 80px 50px;
}

.page-header__logo {
    color: var(--basic-white);
    font-size: 150%;
}

.page-header__item {
    flex: 0 1 350px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

/* NAVIGATION */

.navigation-list {
    list-style-type: none;
    margin-top: 25px;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
    color: var(--carrot);
}

/* INDEX */

.index-section {
    height: 100vh;
    background-size: 100% 100%;
    background-image: url(img/simpleflatpixel.jpg);
}

.index-section footer{
    margin-top: 135px;
}

.profile {
    max-width: 700px;
    margin: 70px auto;
    font-weight: 600;
    text-align: left;
}

.profile a {
    transition: 0.2s opacity;
}

.profile a:hover,
.profile a:focus {
    opacity: 0.8;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
    
}





/* ABOUT */

.about-section {
    
    background-size: 100% 100%;
    background-image: url(img/flatpixeldusk.png);
}

.about-section footer {
    padding-bottom: 20px;
}

.about-block{
    max-width: 700px;
    margin: 40px auto;
    text-align: center;    
}

.about-block p {
    padding-bottom: 20px;
}

.about-block h1 {
    color: var(--carrot);
}

.about-block h1:after {
    display: block;
    height: 2px;
    background-color: var(--secondary-color);
    content: " ";
    margin: 0 auto;
    width: 100px;
    margin-top: 10px;
}

.ex-mark,
.ex-mark-1,
.ex-mark-2,
.ex-mark-3 {
    animation: 5s color-change infinite alternate linear;
}




/* WORK */

.work-section {
    background-size: 100% 100%;
    background-image: url(img/pixelbench.jpg);

}

.work-section h1 {
    margin-left: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 50px;
}

.grid__item {
    background-color: var(--carrot);
    padding: 20px;
}


/* CONTACT - change temporary stylings later */

.contact-section {
    background-size: 100% 100%;
    background-image: url(img/island\ pixel.jpg);
}

.contact-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.contact-box a {
    color: var(--carrot);
}

.contact-box__item {
    flex: 0 1 200px;
    
}

.temp-contact {
    padding-top: 30px;
    margin-left: 80px;
}

.spacer {
    height: 200px;
}



/* FOOTER */

.page-footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 120%;
    padding: 20px;
}

/* MEDIA QUERIES */

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px){
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

/* KEYFRAMES */

@keyframes color-change {
    0% {
        fill: #9400D3;
    }
    16% {
        fill: #4b0082;
    }
    32%{
        fill: #0000ff;
    }
    48% {
        fill: #00FF00;
    }
    66% {
        fill: #ffff00;
    }
    84% {
        fill: #FF7F00;
    }
    100% {
        fill: #ff0000;
    }
}

@keyframes color-change-1 {
    0% {
        fill: #00FF00;
    }
    16% {
        fill: #4b0082;
    }
    32%{
        fill: #ff0000;
    }
    48% {
        fill: #ffff00;
    }
    66% {
        fill: #9400D3;
    }
    84% {
        fill: #FF7F00;
    }
    100% {
        fill: #0000ff;
    }
}

@keyframes color-change-2 {
    0% {
        fill: #0000ff;
    }
    16% {
        fill:#00FF00;
    }
    32%{
        fill: #9400D3;
    }
    48% {
        fill: #FF7F00;
    }
    66% {
        fill:#ff0000;
    }
    84% {
        fill:  #4b0082;
    }
    100% {
        fill:  #ffff00;
    }
}

@keyframes color-change-3 {
    0% {
        fill: #ff0000;
    }
    16% {
        fill: #00FF00;
    }
    32%{
        fill:  #ffff00;
    }
    48% {
        fill: #4b0082;
    }
    66% {
        fill:#0000ff;
    }
    84% {
        fill: #FF7F00;
    }
    100% {
        fill: #9400D3;
    }
}


